*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: chocolate;
    color: white;
    height: 100px;
    text-align: center;
}

.nav{
    background-color: rebeccapurple;
    color: white;
    height: 70px;
    text-align: center;
}

.article{
    overflow: hidden;
    background-color: aquamarine;
    color: white;
    height: 500px;
    text-align: center;
}

.article_left{
    width: 70%;
    height: 100%;
    background-color: bisque;
   float: left;
   
   
}

.article_right{
    width: 30%;
    height: 100%;
    background-color: olive;
    float: right;
}

.article_left_up{
    
    height: 50%;
    background-color: darkblue;
    

}

.article_left_bottom{
    
    height: 50%;
    background-color: darkseagreen;
    

}


footer{
    
    color: white;
    
    text-align: center;
    height: 100px;
    background-color: black;
}

